.shoppingCart {
    margin: 20px;
    padding: 20px;
    border: 2px solid #162938;
    border-radius: 10px;
    background-color: #f4f4f4;
  }
  
  .shoppingCart h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .shoppingCart ul {
    list-style-type: none;
    padding: 0;
  }
  
  .shoppingCart li {
    margin-bottom: 5px;
  }
  
  .shoppingCart button {
    background-color: #162938;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .shoppingCart .total {
    font-weight: bold;
    margin-top: 10px;
  }
  
  .shoppingCart .availableProducts {
    margin-top: 20px;
  }
  


